#principal{
    background-color: lightcoral;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#imagem{
    background-color: lightgreen;
    width: 40%;
    height: 300px;
}

#texto{
    background-color: lightsalmon;
    width: 40%;
    height: 300px;
    text-align: center;
}
h1{
    color: brown;
}
p{
    color: rgb(47, 81, 70);
}
img{
    width: 100%;
    height: 100%;
}






