body{
    background-color: gray;
    display: flex;
    justify-content: center;
}
.centro{
    display:flex;
    align-items: center;
    flex-direction: column;

}
.App{
    background-color: antiquewhite;
    width: 700px;
    min-height: 100vh;
    padding-bottom: 50px;
}
.esquerda{
    display: flex;
    justify-content:end;
}

